.container{
    margin:0;
}




footer h2 { 
    color:#906B70;
}

nav {
    background:#B69999 ;
}

.guide{
    background:#906B70 ;

}
p{
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}