$veryStrongGrey: #231F20;
$strongGrey: #44443F;
$middleGrey: #A5A5A5;
$lightGrey: #EEEEEE;
$gold: #E0A315;
$white20: rgba(255, 255, 255, 0.2);
$white80: rgba(255, 255, 255, 0.8);
$articleTextGrey: #5E5F5E;