@media (max-width: 415px) {

@import "_variables";

body {

    font-family: 'Georama', sans-serif;
    margin: 0;
    top: 0;
    bottom: 0;
    font-size: 1em;
}


.container {

    width: 95%;
}


/*nav bar*/

nav {

    background-color: $lightGrey;
    height: 11vh;
    width: auto;

#logo {

    text-align: left;
    margin-left: 20px;
    margin-top: 6px;

}

ul {

    list-style: none;
    margin-top: -40px;
    text-align: right;

li {
display: inline-block;
margin-right: 1.25em;

}

}

}


/*header*/

header {
background-color: $middleGrey;
padding-bottom: 4em;


#pricebackground {

    background-color: $white80;
    transform: translateX(14.2em);
    height: 10vh;
    width: 45vw;
    


    #through {
        text-decoration-line: line-through;
        font-size: 15px;
        font-weight: 400;
    }

    

    p {

        text-align: center;
        font-weight: 600;
        font-size: 1.5em;
        white-space: pre-line;
        padding-top: 0.4em;
        line-height: 0.9em;

         }

         
}


#tondeuse {

    margin-top: -8em;
    margin-left: 1.7em;
}

#nouveaute {

    text-align: right;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 0.6em;
    transform: translateY(-8em);
    z-index: 30;
    font-size: 1.3em;
}

#caracteristiques {

    background-color: $white20;
    white-space: pre-line;
    z-index: 20;
    transform: translateY(1.8em);
    width: 45vw;
    height: 30vh;
    margin-left: 1.7em;
    padding: 0 30px;


    h2 {
        font-weight: 600;
        margin-bottom: -1em;
    }


    
}



}



/*offer section*/

#offre {

    background-color: $veryStrongGrey;
    color: white;
    font-size: 1.5em;
    white-space: pre-line;
    padding-left: 0.9em;
    height: 15vh;

    p {
        margin-top: -0.3em;
    }
}


/*card section*/

#carte {

   img {

   margin-left: 2.2em;
   }

   #btn {
text-decoration: none;
font-size: 1.2em;
font-weight: 600;
color: white;
text-transform: uppercase;
background-color: $strongGrey;
padding: 0.5em 3.5em;
border-radius: 1em;
text-align: center;
margin-left: 5em;

   }

   p {

    text-align: center;
    color: $gold;
    font-size: 0.9em;
    margin-top: 2em;

a {

    text-decoration: none;
    color: $gold;
}

   }
}



/*description section*/

#descriptiftondeuse {

    background-color: $middleGrey;
    white-space: pre-line;

    h2 {

        color: $strongGrey;
        margin-bottom: -1em;
        margin-left: 1em;
    }


    p {

        color: white;
        margin-left: 1em;
        font-size: 1.15em;
    }
}


/*articles section*/

#articles {


    p {

        color: $articleTextGrey;
        margin-left: 1em;
        
    }

}

#separation {

    background-color: $strongGrey;
    height: 2vh;
   margin-bottom: 3em;
   margin-top: 3em;
}
    

/*shipping section*/

#livraison {

    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    height: 790px;

    #pictos {

        display: inline-block;

        img {

            margin-right: 150px;
            margin-bottom: 9em;
            margin-left: 50px;
        }
   
     
    }




    #texteoptions {

        display: inline-block;
        margin-left: 210px;
        width: 120px;
        transform: translateY(-900px);
        white-space: pre-line;


        p{

            margin-bottom: 2.6em;
        }

        .textestyle {

            font-weight: 600;
            font-size: 1.5em;
        }

    }
}



/*footer*/

footer {


    background-color: $strongGrey;
    height: 350px;

    p {

        text-align: center;
        color: white;
        white-space: pre-line;
        padding-top: 2em;


        a{

            text-decoration: none;
            color: white;
        }
    }


    #socialmedia {

        display: inline-block;
        transform: translateX(6em);

        img {

            margin-right: 3em;
        }
    }
}


















































}