$appleGreen: #94C11F;
$middleGreen: #50AF2E;  /*for logo and section*/
$middleGreen50: rgba(80, 175, 46, 0.1);
$strongGreen: #213F26;  /*for button*/
$yellow : #DED600;
$boldFont: 600;
$padding: 13px 55px;











