@media (max-width: 600px) {


    @import "./_variables";
    @import "./_header";
    @import "_footer";


body {

    font-family: 'Georama', sans-serif;
    font-size: 16 px;
    margin:0 ;
    top:0;
}

.container {

    width: 86%;
    margin: auto;
}



/*Contenu*/


/*first section*/

.container1 {
    display: flex;
    width: 86%;
    margin-right: 30px;
    margin-left: 70px;
    gap: 50px;
    flex-direction: column;



.card {

   width: 255px;
   height: 403px;
   background-color: $appleGreen; 
   border-radius: 6px;
  

p {

    color: white;
    font-size: 33px;
    width: 190px;
    text-align: left;
    margin: auto;
    padding: 50px;
    line-height: 1.4em;

.c_title {

    font-weight: $boldFont;
}

}


}





    .yellowbar {

        display: none;
    }
    

}





















}