@media (max-width: 415px) {
  /*for logo and section*/
  /*for button*/
  /*for logo and section*/
  /*for button*/
  /*smartphone*/
  header {
    /*header high top*/
    /*header section tondeuse*/
  }
  header .containerlogo {
    width: auto;
    height: 92px;
  }
  header #pictosnav ul {
    list-style: none;
    width: 150px;
    margin-top: -55px;
    margin-left: 200px;
    z-index: 10;
  }
  header #pictosnav ul li {
    display: inline-block;
    padding-right: 17px;
  }
  header #pictosnav ul li a {
    text-decoration: none;
  }
  header #linksbackground {
    display: none;
  }
  header #logobackground {
    background-color: rgba(80, 175, 46, 0.1);
    display: flex;
    /*justify-content: center;
    align-items: center;*/
  }
  header #logobackground #logo {
    width: 143px;
    height: auto;
    margin: auto;
    margin-left: 20px;
  }
  header #tondeuse {
    width: 390px;
    height: auto;
    margin-left: -20px;
    margin-top: -30px;
  }
  header h1 {
    margin-top: 60px;
    color: #213F26;
    width: 300px;
    line-height: 0.9em;
  }
  header p {
    color: #213F26;
    white-space: pre-line;
    font-size: 1.6em;
    width: 300px;
    margin-top: -20px;
    line-height: 1em;
  }
  header p #bold {
    font-weight: 600;
  }
  header .btn {
    display: table;
    background-color: #213F26;
    color: white;
    padding: 13px 55px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    margin-left: 65px;
    border-radius: 6px;
    text-transform: uppercase;
    transform: translateY(-33px);
  }

  /*Footer*/
  footer {
    padding: 30px;
    background-color: rgba(80, 175, 46, 0.1);
  }
  footer .container5 {
    margin: auto;
  }
  footer p {
    color: #5A5A5A;
    text-align: center;
    white-space: pre-line;
  }
  footer p #green {
    color: #50AF2E;
  }
  footer #bar4 {
    display: block;
    border-bottom: 2px solid #DED600;
    margin: auto;
    margin-top: 5px;
    width: 120px;
  }
  footer a {
    text-decoration: none;
    color: #50AF2E;
  }
  footer #affichage {
    display: none;
  }

  #socialmedia {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #socialmedia img {
    margin-right: 30px;
  }

  #yellowbar1 {
    display: none;
  }

  body {
    font-family: "Georama", sans-serif;
    font-size: 16 px;
    margin: 0;
    top: 0;
  }

  .container {
    width: 86%;
    margin: auto;
  }

  /*Contenu*/
  /*first section*/
  .container1 {
    display: flex;
    width: 86%;
    margin-right: 30px;
    margin-left: 70px;
    gap: 50px;
    flex-direction: column;
  }
  .container1 .card {
    width: 255px;
    height: 403px;
    background-color: #94C11F;
    border-radius: 6px;
    margin-left: 4%;
    margin-right: 5%;
  }
  .container1 .card p {
    color: white;
    font-size: 33px;
    width: 190px;
    text-align: left;
    margin: auto;
    padding: 50px;
    line-height: 1.4em;
  }
  .container1 .card p .c_title {
    font-weight: 600;
  }
  .container1 .yellowbar {
    display: none;
  }

  /*Second section*/
  .container2 {
    background-color: #DED600;
    height: 550px;
  }
  .container2 #pricebackground {
    background-color: #F1EE99;
    width: 200px;
    height: 157px;
    text-align: center;
    margin: auto;
    color: #213F26;
  }
  .container2 #pricebackground h2 {
    padding-top: 35px;
    font-size: 37px;
  }
  .container2 #pricebackground h2 #oldprice {
    text-decoration: line-through;
    font-size: 20px;
    font-weight: 300;
  }
  .container2 #carte {
    margin-left: -34px;
    width: auto;
    margin-top: 30px;
  }
  .container2 #textecarte {
    text-align: center;
    margin: auto;
    color: #213F26;
    width: 95%;
  }
  .container2 #textecarte #bold {
    font-size: 600;
  }

  /*Third section*/
  #bar3 {
    display: block;
    border-bottom: 2px solid #DED600;
    margin: auto;
    margin-top: 5px;
    width: 120px;
  }

  .container3 {
    margin: auto;
    display: flex;
    flex-flow: column;
  }
  .container3 #tipstitle {
    margin-top: 50px;
    font-weight: 600;
    font-size: 18px;
    color: #213F26;
    text-align: center;
  }
  .container3 .articles {
    text-align: center;
    margin-top: 60px;
  }
  .container3 p {
    margin: auto;
    padding-top: 15px;
    width: 100px;
    text-align: center;
    color: #213F26;
  }

  /*Fourth section*/
  .container4 {
    height: 650px;
    margin: auto;
    margin-top: 100px;
    background-color: #50AF2E;
    display: flex;
    flex-direction: column;
  }
  .container4 .modalites {
    width: 150px;
    color: white;
    padding-right: 100px;
    text-align: center;
    margin: auto;
    transform: translateX(40px);
  }
  .container4 .modalites #bold {
    font-weight: 600;
  }
}/*# sourceMappingURL=style-mobile.css.map */