@media (min-width: 500px) {

    .containerlogo {

        width: 145px;
        height: 121px;
       
    

    #logobackground {
        
        background-color: $middleGreen50;
        display: flex;
        justify-content: center;
        align-items: center;
        


    }


    #linksbackground {

        display: inline-block;
    }


    #pictosnav {

        display: none;
    }

















}
















}