@media (max-width: 600px) {


    @import "./_variables";
    @import "./_header";
    @import "_footer";


body {

    font-family: 'Georama', sans-serif;
    font-size: 16 px;
    margin:0 ;
    top:0;
}

.container {

    width: 86%;
    margin: auto;
}



/*Contenu*/


/*first section*/

.container1 {
    display: flex;
    width: 86%;
    margin-right: 30px;
    margin-left: 70px;
    gap: 50px;
    flex-direction: column;



.card {

   width: 255px;
   height: 403px;
   background-color: $appleGreen; 
   border-radius: 6px;
  

p {

    color: white;
    font-size: 33px;
    width: 190px;
    text-align: left;
    margin: auto;
    padding: 50px;
    line-height: 1.4em;

.c_title {

    font-weight: $boldFont;
}

}


}





    .yellowbar {

        display: none;
    }
    

}



/*Second section*/


.container2 {

    background-color: $yellow;
    height: 550px;

    #pricebackground {

        background-color: #F1EE99;
        width: 200px;
        height: 157px;
        text-align: center;
        margin: auto;
        color: $strongGreen;


        h2 {
            padding-top: 35px;
            font-size: 37px;
    
            #oldprice {
            text-decoration :line-through;
            font-size: 20px;
            font-weight: 300;
        
            }
        }
        
    }


    #carte {

        margin-left: -34px;
        width: auto;
        margin-top: 30px;
    }

    #textecarte {
       text-align: center;
       margin: auto;
       color: $strongGreen;
       width: 95%;
       

       #bold {

        font-size: $boldFont;
     }
       
       }

}



/*Third section*/


#bar3 {
    display: block;
    border-bottom: 2px solid $yellow;
    margin: auto;
    margin-top: 5px;
    width: 120px;
}


.container3 {

    margin: auto;
    display: flex;
    flex-flow: column;


    #tipstitle {
        margin-top: 50px;
        font-weight: $boldFont;
        font-size: 18px;
        color: $strongGreen;
        text-align: center;
    }


    .articles {

        text-align: center;
        margin-top: 60px;
    }
    
    
    p {
    
        margin: auto;
        padding-top: 15px;
        width: 100px;
        text-align: center;
        color: $strongGreen;
    }
        
    

}
















}