@media (min-width: 1200px) {
  /*Desktop version*/
  /*for logo and section*/
  /*for button*/
  body {
    font-family: 'Georama', sans-serif;
    font-size: 16 px;
    margin: 0;
    top: 0;
  }
  /*header*/
  .container {
    width: 550px;
    margin: auto;
    /*header section tondeuse*/
  }
  .container #tondeuse {
    display: absolute;
    width: 490px;
    height: auto;
    margin-left: -50px;
    margin-top: -100px;
  }
  .container h1 {
    padding-top: 50px;
    margin-top: 50px;
    width: 319px;
    color: #213F26;
    margin-left: 210px;
    line-height: 0.9em;
  }
  .container p {
    width: 319px;
    color: #213F26;
    margin-top: -20px;
    margin-left: 210px;
  }
  .container p #bold {
    font-weight: 600;
  }
  .container .btn {
    display: table;
    background-color: #213F26;
    color: white;
    padding: 13px 55px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin-left: 280px;
    border-radius: 6px;
    text-transform: uppercase;
    -webkit-transform: translateY(-303px);
            transform: translateY(-303px);
  }
  .containerlogo {
    width: 550px;
    margin: auto;
  }
  #logobackground {
    background-color: rgba(80, 175, 46, 0.1);
    width: 145px;
    height: 121px;
    margin-left: 590px;
  }
  #logobackground #logo {
    width: 137px;
    height: auto;
  }
  #pictosnav {
    display: none;
  }
  #linksbackground {
    display: block;
    background-color: #94C11F;
    width: 346px;
    height: 51px;
    margin-top: -140px;
    margin-left: 210px;
  }
  #linksbackground ul {
    list-style: none;
    margin-left: 60px;
  }
  #linksbackground ul li {
    display: inline-block;
    margin-top: 17px;
  }
  #linksbackground ul li a {
    text-decoration: none;
    color: white;
    margin-right: 16px;
  }
  /*First section*/
  .container {
    width: 550px;
    margin: auto;
  }
  .container1 {
    width: 550px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .card {
    width: 145px;
    height: 225px;
    background-color: #94C11F;
    border-radius: 6px;
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
  }
  main .card p {
    color: white;
    font-size: 18px;
    width: 100px;
    text-align: left;
    margin: auto;
    padding: 30px;
    line-height: 1.2em;
    margin-top: 20px;
  }
  main .card p .c_title {
    font-weight: 600;
  }
  .yellowbar {
    width: 550px;
    display: block;
    border-bottom: 2px solid #DED600;
    margin: auto;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  /*Second section*/
  .container2 {
    width: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container2 #pricebackground {
    background-color: rgba(80, 175, 46, 0.1);
    width: 168px;
    height: 121px;
    text-align: center;
    margin-left: 710px;
    margin-top: -61px;
    padding: 0 30px;
  }
  .container2 #pricebackground h2 {
    font-size: 30px;
  }
  .container2 #pricebackground h2 #oldprice {
    text-decoration: line-through;
    font-size: 18px;
    font-weight: 300;
  }
  .container2 #pricebackground #carte {
    margin-left: 550px;
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    width: auto;
  }
  .container2 #textecarte {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    margin-right: 340px;
    margin-left: -480px;
    margin-bottom: 100px;
    color: #213F26;
  }
  .container2 #textecarte #bold {
    font-size: 600;
  }
  /*Third section*/
  #bar2 {
    margin-top: 100px;
  }
  .container3 {
    width: 550px;
    height: 330px;
    margin: auto;
    margin-top: 100px;
  }
  .container3 #tipstitle {
    margin-top: -110px;
    font-weight: 600;
    font-size: 18px;
    color: #213F26;
    text-align: center;
  }
  .container3 #articlesbackground {
    background-color: rgba(80, 175, 46, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    height: 365px;
  }
  .container3 #articlesbackground .articles {
    margin-right: 30px;
    margin-top: 40px;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  .container3 #articlesbackground p {
    margin: auto;
    padding-top: 15px;
    width: 100px;
    text-align: center;
    color: #213F26;
  }
  .container3 #bar3 {
    display: none;
  }
  /*Fourth section*/
  .container4 {
    width: 550px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    background-color: #50AF2E;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container4 .modalites {
    width: 150px;
    color: white;
    padding-right: 100px;
    text-align: center;
    margin: auto;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  .container4 .modalites #bold {
    font-size: 600;
  }
  /*Footer*/
  #bar4 {
    display: none;
  }
  .container5 {
    width: 550px;
    margin: auto;
    height: 500px;
  }
  .container5 p {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    text-align: center;
  }
  .container5 a {
    text-decoration: none;
    color: #94C11F;
  }
  #yellowbar1 {
    display: block;
    border-bottom: 2px solid #DED600;
    margin: auto;
  }
  #socialmedia {
    text-align: center;
    -webkit-transform: translateY(-480px);
            transform: translateY(-480px);
  }
  #socialmedia img {
    margin-right: 30px;
  }
}
/*# sourceMappingURL=style.css.map */