@media (min-width: 1200px) {   /*Desktop version*/


    @import "_variables";

    body {

        font-family: 'Georama', sans-serif;
        font-size: 16 px;
        margin:0 ;
        top:0;
    }



/*header*/

    .container {

        width: 550px;
        margin: auto;


        
        /*header section tondeuse*/
     
        #tondeuse {
           display: absolute;
            width: 490px;
            height: auto;
            margin-left: -50px;
            margin-top: -100px;
                         
            }

            h1 {
                padding-top: 50px;
                margin-top: 50px;
                width: 319px;
                color: $strongGreen;
                margin-left: 210px;
                line-height: 0.9em;

                               
            }
            
            p {
                                
                width: 319px;
                color: $strongGreen;
                margin-top: -20px;
                margin-left: 210px;

                #bold {
                    font-weight: $boldFont;
                }
            }


            .btn {
                display: table;
                background-color: $strongGreen;
                color: white;
                padding: $padding;
                text-align: center;
                text-decoration: none;
                font-size: 1em;
                margin-left: 280px;
                border-radius: 6px;
                text-transform: uppercase;
                transform: translateY(-303px);
            
                }
          

        }


    .containerlogo {

        width: 550px;
        margin: auto;
    }
       
    

    #logobackground {
        
        background-color: $middleGreen50;
        width: 145px;
        height: 121px;
        margin-left: 590px;

        
        #logo {
            width: 137px;
            height: auto;
                   
        
        }


    }


    #pictosnav {

        display: none;
    }



    #linksbackground {

        display: block;
        background-color: $appleGreen;
        width: 346px;
        height: 51px;
        margin-top: -140px;
        margin-left: 210px;


        ul {
            list-style: none;
            margin-left: 60px;

            li {     

                display: inline-block;
                margin-top: 17px;
                

            a{

            text-decoration: none;
            color: white;
            margin-right: 16px;
            
            }
        }

        }

        }
        

      /*First section*/    
      
      
.container {

    width: 550px;
    margin: auto;
}


.container1 {

    width: 550px;
    margin: auto;
    display: flex;
    gap: 40px;
    flex-direction: row;
 

}

main {
.card {

    width: 145px;
    height: 225px;
    background-color: $appleGreen; 
    border-radius: 6px;
    transform: translateY(-120px);
 


    p {

        color: white;
        font-size: 18px;
        width: 100px;
        text-align: left;
        margin: auto;
        padding: 30px;
        line-height: 1.2em;
        margin-top: 20px;

        .c_title {

            font-weight: $boldFont;
        }
    
    }

}

}



.yellowbar {
    width: 550px;
    display: block;
    border-bottom: 2px solid $yellow;
    margin: auto;
    transform: translateY(-60px);
}




/*Second section*/    

.container2 {

width: 550px;
display: flex;


#pricebackground {

    background-color: $middleGreen50;
    width: 168px;
    height: 121px;
    text-align: center;
    margin-left: 710px;
    margin-top: -61px;
    padding: 0 30px;

    h2 {
        font-size: 30px;

        #oldprice {
        text-decoration :line-through;
        font-size: 18px;
        font-weight: 300;
    
        }
    }


    

#carte {

    margin-left: 550px;
    transform: translateY(300px);
    width: auto;
}

}


#textecarte {
 transform: translateY(100px);
 margin-right: 340px;
 margin-left: -480px;
 margin-bottom: 100px;
 color: $strongGreen;

 #bold {

    font-size: $boldFont;
 }

}



}



/*Third section*/ 

#bar2 {

    margin-top: 100px;
}

.container3 {

width: 550px;
height: 330px;
margin: auto;
margin-top: 100px;


#tipstitle{
margin-top: -110px;
font-weight: $boldFont;
font-size: 18px;
color: $strongGreen;
text-align: center;

}


#articlesbackground {

    background-color: $middleGreen50;
    display: flex;
    flex-flow: row;
    height: 365px;


.articles {

    margin-right: 30px;
    margin-top: 40px;
    transform: translateX(20px);
}


p {

    margin: auto;
    padding-top: 15px;
    width: 100px;
    text-align: center;
    color: $strongGreen;
}


}

#bar3 {

    display: none;
}

}


/*Fourth section*/ 
    
.container4 {

    width: 550px;
    height: 500px;
    margin: auto;
    margin-top: 100px;  
    background-color: $middleGreen;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;


    .modalites {

        width: 150px;
        color: white;
        padding-right: 100px;
        text-align: center;
        margin: auto;
        transform: translateX(40px);

        #bold {

            font-size: $boldFont;
         }
    }



}
    
    
 /*Footer*/   

 #bar4 {

    display: none;
 }


 .container5 {
    
   width: 550px;
   margin: auto;
   height: 500px;


   p {

    transform: translateY(80px);
    text-align: center;
   }


   a{

    text-decoration: none;
    color: $appleGreen;
   }


   }

#yellowbar1 {
   
    display: block;
    border-bottom: 2px solid $yellow;
    margin: auto;
  
  }


  #socialmedia {

    text-align: center;
    transform: translateY(-480px);

    img {

        margin-right: 30px;
    }
    
    
     }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

















}
















